* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #930B0B;
}
 
header {
    background-color: #930B0B;
    color: #fff;
    padding: 20px;
    text-align: center;
}
 
header h1 {
    font-size: 24px;
}
 
nav ul {
    list-style: none;
}
 
nav ul li {
    display: inline;
    margin-left: 20px;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff;
}
 
section {
    padding: 50px 20px;
    text-align: center;
}
 
section h2 {
    margin-bottom: 20px;
}
 
section p {
    margin-bottom: 20px;
}
 
.btn {
    display: inline-block;
    background-color: #930B0B;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 600px;
}
 
.btn:hover {
    background-color: #930B0B;
}
 
footer {
    background-color: #930B0B;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.middle-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
}
.middle-images{
    display: block;
    margin: 9 auto;
    max-width: 8%;
    margin-bottom:-10px;
}

.nome1{
    margin-left: 500px;
}

.num2{
    margin-left: 400px;
}

.email1{
    margin-left: 500px;
}

.legenda{
    margin-left: 550px;
}

footer {
    background-color: #930B0B;
    padding: 20px 0;
}
 
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
 
.social-links li {
    margin: 10px;
}
 
.social-links a {
    color: #afa319;
    text-decoration: none;
}
 